*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 3em;
    text-shadow: 1px 1px 1px #f00;
}

.card{
    /* border: 1px solid #000; */
    width:fit-content;
    height: auto;
    padding: 28px 20px;
    background-color: #fff;
    position: relative;
    top: 0;
    right: -36%;
    bottom: 0;
    line-height: 1.9em;
    font-weight: bold;
    margin-top: 1.6em;
    font-size: 21px;
    box-shadow: 0px 0px 10px #b3b3bf;
}

span{
    font-weight: lighter;
    font-size: 20px;
}